<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>

<header>
  <div class="bloco-acess" id="fonte">
    <p>
      <span class="a-minus">A-</span> | <span class="a-plus">A+</span>
    </p>
  </div>
  <div class="bloco-acess" id="alto-contraste">
    <img src="/img/contraste.png" alt="Simbolo de contraste" class="simb-contraste" srcset="" />
    <p>Alto Contraste</p>
  </div>
</header>

<body>
  <section class="header-principal">
    <div class="block-header">
      <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
          <ul>
            <li><a href="/login-usuario">Meu Perfil</a></li>
            <li><a href="/login-usuario">Processos</a></li>
            <li><a href="/login-usuario">Vagas</a></li>
            <li><a href="/">Sair</a></li>
          </ul>
        </nav>
      </div>

      <div class="menu-bg" id="menu-bg"></div>

      <div class="botao-header">
        <p><a href="/login-EveryMind">Sou EveryMind</a></p>
      </div>
      <div class="botao-header">
        <p><a href="/login-techrecruiter">Sou Tech Recruiter</a></p>
      </div>
    </div>

    <div class="block-header-logo">
      <img src="/img/logo-everymind.png" alt="Logo Everymind" class="logo" />
    </div>

    <div class="block-header">
      <button type="button" class="login-button"><a href="/login-usuario">Login</a></button>
    </div>
  </section>

  <div class="block-imagem">
    <img src="/img/img-header.png" class="imagem-banner"
      alt="Imagem de um homem com sindrome de Down em um ambiente de trabalho" srcset="" />
  </div>

  <div class="block-titulo">
    <h2 class="titulo texto">
      Explore o site de vagas de emprego mais inclusivo do Brasil!
    </h2>
  </div>

  <div class="divBusca">
    <div class="titulo-busca">
      <p>Faça sua pesquisa e veja as melhores opções de vagas</p>
    </div>

    <div class="busca">
      <input type="text" id="txtBusca" placeholder="Qual vaga você procura?" />
      <!-- <img class="lupa" src="../images/icone-loupe-noir 1.svg" id="btnBusca" alt="Buscar" /> -->
      <button class="btnPesquisa"><a href="/login-usuario">Pesquisar Vagas</a></button>
    </div>
  </div>

  <div class="areasTrabalho">
    <div>
      <h2 class="texto">Ache um Emprego na sua Área</h2>
    </div>
    <div class="block-vagas">
      <div class="vagas">
        <img src="/img/7067450_briefcase_bag_alternatif_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Negócios</p></a>
      </div>
      <div class="vagas">
        <img src="/img/2633204_circuit_digital_tech_technology_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Tecnologia</p></a>
      </div>
      <div class="vagas">
        <img src="/img/4213476_apartment_architecture_building_city_company_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Administração</p></a>
      </div>
    </div>

    <div class="block-vagas">
      <div class="vagas">
        <img src="/img/290143_cash_money_payment_wallet_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Vendas</p></a>
      </div>
      <div class="vagas">
        <img src="/img/7830542_human_resources_search_employees_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>RH</p></a>
      </div>
      <div class="vagas">
        <img src="/img/753891_lawyer_judge_justice_law_legal_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Jurídico</p></a>
      </div>
    </div>

    <div class="block-vagas">
      <div class="vagas">
        <img src="/img/7898409_promotion_business_finance_office_marketing_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Marketing</p></a>
      </div>
      <div class="vagas">
        <img src="/img/172507_box_money_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Financeiro</p></a>
      </div>
      <div class="vagas">
        <img src="/img/9040420_heart_pulse_icon 1.svg" alt="" />
        <a href="/login-usuario"><p>Saúde</p></a>
      </div>
    </div>

    <button class="todasVagas">
      <a href="/todas-vagas">Quero ver todas!</a>
    </button>
  </div>

  <script src="/js/script.js"></script>
</body>

<footer>
    <div class="logo-footer">
      <img src="/img/logo-everymind.png" alt="Logo EY">
    </div>
    <div class="social-media">

      <img src="/img/5279111_network_fb_social media_facebook_facebook logo_icon 1.svg" alt="Logo facebook">


      <img src="/img/2559760_media_social_video_youtube_icon 1.svg" alt="Logo Youtube">

      <img src="/img/8666638_instagram_icon 1.svg" alt="Logo Instagram">

    </div>
</footer>

</html>